<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Report</title>
    <link rel="stylesheeet" href="/css/style.css">
</head>
<body>
    <div class="body">
        
        <form >
            <h3>Report Information</h3>
            <h5>Filename:</h5> <%= filename %>
            <br>
            <h5>Image url: </h5> 
            <image src="<%= url %>" alt="image"></image>
        </form>
    </div>
</body>
</html>